{
  "extends": ["wesbos/typescript"],
  "plugins": ["@typescript-eslint", "import"],
  "root": true,
  "rules": {
    "semi": ["warn", "never"],
    "quotes": ["warn", "single"],
    "import/no-default-export": "error",
    "no-empty-pattern": 0,
    "global-require": 0,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "tabWidth": 2,
        "useTabs": false,
        "printWidth": 110,
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "singleQuote": true,
        "semi": false,
        "jsonEnable": ["json"]
      }
    ]
  }
}
