service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read;
    }
    match /images/{groupId}/{allPaths=**} {
      allow write: if request.auth.uid == groupId
    }
  }
}
